{% extends 'main.html' %}

{% block content %}
{% include 'status.html' %}

<div class="row my-4">
    <div class="col-md">
        <div class="card card-body">
            <h5>YOUR APPOINTMENTS:</h5>
                <hr>
                {% if pending != 0 %}
                <table class="table table-sm table-hover current-appointments">
                    <h5 style="opacity: 0.65; font-weight: bold;">Current Appointments</h5>
                    <thead>
                        <tr>
                            <th>Status</th>
                            <th>Doctor</th>
                            <th>Department</th>
                            <th>Date/Time</th>
                            <!-- <th>Update</th> -->
                            <th>Upload Prescription</th>
                        </tr>
                    </thead>
    
                    <tbody>
                        {% for appoint in appoints %}
                        {% if appoint.status == 'PENDING' %}
                        <tr>
                            <td>{{appoint.status}}</td>
                            <td>{{appoint.doctor.name}}</td>
                            <td>{{appoint.doctor.department}}</td>
                            <td>{{appoint.date_created}}</td>
                            <!-- <td><a class="btn btn-warning btn-sm btn-block" href="{% url 'update_appoint' appoint.id %}">Update</a></td> -->
                            <td><a class="btn btn-info btn-sm btn-block" href="{% url 'prescription' appoint.id %}">Upload</a></td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
                
                {% if complete != 0 %}
                <table class="table table-sm table-hover current-appointments">
                    <h5 style="opacity: 0.65; font-weight: bold;">Past Appointments</h5>
                    <thead>
                        <tr>
                            <th>Status</th>
                            <th>Doctor</th>
                            <th>Department</th>
                            <th>Date/Time</th>
                            <!-- <th>Update</th> -->
                            <th>View Prescription</th>
                        </tr>
                    </thead>
    
                    <tbody>
                        {% for appoint in appoints %}
                        {% if appoint.status == 'DONE' %}
                        <tr>
                            <td>{{appoint.status}}</td>
                            <td>{{appoint.doctor.name}}</td>
                            <td>{{appoint.doctor.department}}</td>
                            <td>{{appoint.date_created}}</td>
                            <!-- <td><a class="btn btn-warning btn-sm btn-block" href="{% url 'update_appoint' appoint.id %}">Update</a></td> -->
                            <td><a class="btn btn-warning btn-sm btn-block" href="{% url 'prescription' appoint.id %}">View</a></td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
        </div>
    </div>
</div>
{% endblock %}
