{% extends 'main.html' %}

{% block content %}
{% include 'status.html' %}

<div class="row my-4">
    <div class="col-md">
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th>Patient</th>
                    <th>Date Appointed</th>
                    <th>Status</th>
                    <th>Pending/Done</th>
                </tr>
                {% for appoint in appoints %}
                <tr>
                    <td>{{appoint.patient}}</td>
                    <td>{{appoint.date_created}}</td>
                    <td>{{appoint.status}}</td>
                    {% if appoint.status == "PENDING" %}
                    <td><a class="btn btn-warning btn-sm btn-block" href="{% url 'prescription' appoint.id %}">Done</a></td>
                    {% else %}
                    <td><a class="btn btn-info btn-sm btn-block" href="{% url 'prescription' appoint.id %}">See Prescription</a></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}