{% extends 'main.html' %}

{% block content %}

<div class="d-flex justify-content-center">
    <h2>HELLO, {{request.user.patient.name}}</h2>
</div>
{% include 'status.html' %}

<style>
    .card-img-top {
        width: 100%;
        max-height: 10rem;
        object-fit: cover;
        object-position: top center;

        display: block;
        margin: 0 auto 1rem;
    }

    .card-container>.card {
        width: calc(50% - 0.6rem);
        margin: 0.3rem;
    }
</style>

<div class="row ">
    <div class="col-md-5">
        <div class="card card-body">
            <h5>DOCTORS:</h5>
            <div class="d-flex flex-wrap card-container">
                {% for doctor in doctors %}
                <div class="card shadow-sm">
                    <img src="https://www.sriramachandra.edu.in/medical/oldmanager/images/doctors/dhanalakshmi-final.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body p-2">
                        <h5 class="card-title">{{doctor.name}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{doctor.department}}</h6>
                        <p class="card-text">Available between: 09:30-17:00<br>Consultation: $100</p>
                        <a href="{% url 'create_appointment' doctor.id %}" class="btn btn-primary py-1 px-2">Book Appointment</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="col-md">
            <div class="card card-body">
                <h5>YOUR APPOINTMENTS:</h5>
                <hr>
                {% if pending != 0 %}
                <table class="table table-sm table-hover current-appointments">
                    <h5 style="opacity: 0.65; font-weight: bold;">Current Appointments</h5>
                    <thead>
                        <tr>
                            <th>Status</th>
                            <th>Doctor</th>
                            <th>Department</th>
                            <th>Date/Time</th>
                            <th>Update</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
    
                    <tbody>
                        {% for appoint in appoints %}
                        {% if appoint.status == 'PENDING' %}
                        <tr>
                            <td>{{appoint.status}}</td>
                            <td>{{appoint.doctor.name}}</td>
                            <td>{{appoint.doctor.department}}</td>
                            <td>{{appoint.date_created}}</td>
                            <td><a class="btn btn-warning btn-sm btn-block" href="{% url 'update_appoint' appoint.id %}">Update</a></td>
                            <td><a class="btn btn-danger btn-sm btn-block" href="{% url 'delete_appoint' appoint.id %}">Delete</a></td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
                
                {% if completed != 0 %}
                <table class="table table-sm table-hover past-appointments">
                    <h5 style="opacity: 0.65; font-weight: bold;">Past Appointments</h5>
                    <thead>
                        <tr>
                            <th>Status</th>
                            <th>Doctor</th>
                            <th>Department</th>
                            <th>Date/Time</th>
                            <th colspan="2" class="text-center">Prescription</th>
                        </tr>
                    </thead>
    
                    <tbody>
                        {% for appoint in appoints %}
                        {% if appoint.status == 'DONE' %}
                        <tr>
                            <td>{{appoint.status}}</td>
                            <td>{{appoint.doctor.name}}</td>
                            <td>{{appoint.doctor.department}}</td>
                            <td>{{appoint.date_created}}</td>
                            <td colspan="2"><a class="btn btn-warning btn-sm btn-block" href="{% url 'prescription' appoint.id %}">View</a></td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
